In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.DataFrame({
    'Feature': np.arange(1, 11),
    'Target': np.array([1,1,1, 2,2,2, 3,3,3,3])

})

df

   Feature  Target
0        1       1
1        2       1
2        3       1
3        4       2
4        5       2
5        6       2
6        7       3
7        8       3
8        9       3
9       10       3

In [14]:
from sklearn.model_selection import  cross_val_score,  KFold, StratifiedKFold

In [15]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=1)

In [23]:
cv = StratifiedKFold(
    n_splits=3,
    shuffle=True,
    random_state=42
)

In [24]:


scores = cross_val_score(
    model,
    df[['Feature']],
    df['Target'],
    cv=cv
)

In [25]:
np.mean(scores)

np.float64(0.8888888888888888)

In [26]:
scores

array([1.        , 0.66666667, 1.        ])

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    df[['Feature']],
    df['Target'],
    test_size=.30,
    random_state=43,
    stratify=df['Target']

)

In [6]:
pd.concat([X_train, y_train], axis=1)

   Feature  Target
6        7       3
1        2       1
9       10       3
3        4       2
7        8       3
5        6       2
2        3       1